﻿/* -------------------------
Luke Prendergast
Copyright 2016
www.closetacticaltraining.co.uk
------------------------- */

@charset "utf-8";
@import 'mixins.less';

body
{
    background:  white;
    font-family: 'Open Sans', sans-serif;
}

/*** CONTENT CLASSES ***/
h1
{
    font-size:      50px;
    color:          @main-colour;
    margin:         0 0 60px 0;
    letter-spacing: -3px;
    font-weight:    @light;
}

h1.home
{
    font-size:   75px;
    line-height: 70px;
}

h1.home a:hover
{
    text-decoration: none;
}

h1.home span
{
    font-size:   40px;
    display:     block;
    line-height: 60px;
}

h2
{
    font-size:      34px;
    color:          @very-dark-grey;
    margin:         50px 0 20px 0;
    letter-spacing: -2px;
    font-weight:    @light;
}

div.light-grey h2, div.very-light-grey h2 {margin-top:0;}
div.light-grey img.float-right, div.very-light-grey img.float-right {margin-left:40px; width:525px;}
div.light-grey img.float-left, div.very-light-grey img.float-left {margin-right:40px; width:525px;}

h3
{
    font-size: 18px;
    color:     @dark-grey;
    margin:    25px 0 15px 0;
    font-weight: @bold;
}

h3.toggle, h3.toggle:hover {background-color:@dark-grey;}
h3.toggle {display:block; padding:15px; width:auto; color:white; margin-bottom:0;}
h3.toggle:hover {cursor:pointer;}

div.toggle {display:none; padding:15px; background-color:@very-light-grey;}
div.toggle ul {margin:0;}
div.toggle ul.list-none li {font-size:15px;}

p, ul.list-none li, ul.list-points li {font-size:17px; color:@very-dark-grey; line-height:1.5; font-weight:@light;}
p {margin:0 0 15px 0;}
.error, .success {padding:15px 60px; background-repeat:no-repeat; background-position:10px 15px; margin-bottom:20px;}
.error {color:@red; background-color:@light-red; background-image:url(../img/content/error.png);}
.success {color:@green; background-color:@light-green; background-image:url(../img/content/success.png);}
.breadcrumb {font-size:13px; margin-bottom:20px; display:block;}
ul.list-none li, ul.list-points li {margin:5px 0; list-style:none;}
ul.list-points li:before {
    content:        "\f111";
    font-family:    FontAwesome;
    color:          @main-colour;
    margin-right:   15px;
    font-size:      10px;
    vertical-align: middle;
}
ul.list-none li a {color:@main-colour;}
ul.list-points, ul.list-none {margin:10px 0 15px 0; list-style:none;}
ul.list-points li {margin:5px;}
a:link, a:visited {color:@main-colour; text-decoration:none;}
a:hover {text-decoration:underline;}
strong, footer li strong a:link, footer li strong a:visited {font-weight:@bold;}

/* Table Styles */
table {width:100%; border-top:4px solid @main-colour; margin-bottom:10px;}
table td {padding:8px 7px; color:@very-dark-grey; font-size:14px;}
thead th {padding:10px 0; color:white; background-color:@grey; font-size:14px; text-align:left;}
thead.short th {padding:8px 0; font-size:12px; font-weight:@bold;}
thead th span {padding:0 7px;}
.table-sub-header td {background-color:@light-grey; text-align:center; font-weight:@bold;}

.table-row0 {}
.table-row1 {background-color:@very-light-grey;}
tr.table-row0:hover td, tr.table-row1:hover td, tr.table-row0:hover td a:link, tr.table-row1:hover td a:link {background-color:@main-colour; color:white; text-decoration:none;}
.total td {border-top:1px solid @main-colour; margin-bottom:10px;}

.caption {margin-bottom:25px;font-style:italic; font-size:14px; display:block;}

/* Site Map */
ul.level-1 {font-weight:@bold;}
ul.level-1 li {margin-bottom:10px;}
ul.list-none ul {margin-left:20px; margin-bottom:20px; font-weight:normal;}
ul.list-none ul ul {margin-left:20px;}
/* Site Map End */


/*** LAYOUT CLASSES ***/

.blue {background-color:@main-colour;}
.blue:hover {background-color:@main-colour-hover;}
.orange {background-color:@accent-colour1;}
.orange:hover {background-color:@accent-colour1-hover;}
.dark-grey {background-color:@very-dark-grey;}
.dark-grey:hover {background-color:@dark-grey;}
.grey {background-color:@grey;}
.grey:hover {background-color:@very-dark-grey;}
.light-grey {background-color:@light-grey;}
.very-light-grey {background-color:@very-light-grey;}
.white {background-color:white;}

.no-border {border:none;}
.no-padding {padding:0;}

.float-left {float:left;}
.float-right {float:right;}
.center {width:150px; margin-left:auto; margin-right:auto; margin-top:30px !important;}

.text-right {text-align:right;}

.margin-right {margin-right:14px;}

.stretch-parent {width:100%; margin:0 auto; text-align:justify; -ms-text-justify:distribute-all-lines; text-justify:distribute-all-lines;}
.stretch-child {vertical-align:top; display:inline-block; *display:inline; zoom:1;}
.stretch-child p, .stretch-child h2, .stretch-child h3, .stretch-child td {text-align:left;}
.stretch {width:100%; display:inline-block; font-size:0; line-height:0}

.clearfloat {clear:both; height:0; font-size:1px; line-height:0;}

a.btn, span.btn {display:block; padding:16px 25px; font-size:17px; margin-top:15px; color:white; text-align:center;}
span.btn {margin-bottom:15px;}
a.btn:hover {text-decoration:none; .transition();}

/* Sections */
.row {clear:both; padding:0; margin:0 0 14px 0;}
.row p {margin:0 0 4px 0;}
/* Sections End */

/* Column Setup */
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3 {width:34%;}
.col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:64%;}
.col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {width:100%;}
.col-1-x-1, .col-2-x-1, .col-3-x-1 {min-height:200px;}
.col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5 {min-height:300px;}
.col-1-x-2, .col-2-x-2, .col-3-x-2 {min-height:400px;}
.col-1-x-3, .col-2-x-3, .col-3-x-3 {min-height:600px;}
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {overflow:hidden;}

.col-1-x-2 div {height:193px; margin-bottom:14px;}
/* Column Setup End */


/*** MASTER LAYOUT ***/

header, footer {float:left; min-width:100%;}
.content {max-width:960px; margin:0 auto; padding:0 10px;}
.inner-container {padding:10px;}
header .logo {float:left; margin:9px 0 0 0; border:0; width:134px;}
#main-content {margin-right:300px; padding-bottom:40px;}
#menu-bar {background-color:@main-colour;}
#contact-bar {font-size:17px; font-weight:@light; color:white; padding:12px 0; text-align:center; background-color:@main-colour;}
#contact-bar .hidden {display:none;}
#contact-bar a:link, #contact-bar a:visited {color:white;}
#contact-bar a:hover {text-decoration:none;}
#contact-bar span.phone {
    margin-right: 20px;
}
#contact-bar span.phone:before, #contact-bar span.email:before {
    font-family:  FontAwesome;
    color:        white;
    margin-right: 4px;
}
#contact-bar span.phone:before {
    content: "\f095";
}
#contact-bar span.email:before {
    content: "\f0e0";
}
.parallax-window {
    min-height: 300px;
    background: transparent;
    width:      100%;
    background-attachment: fixed;
}
#header-image {background-image:url(../img/layout/banner-image3.jpg); width:100%; height:300px; background-position:center; background-size:cover; position:relative;
    background-attachment: fixed;}
div.light-grey .content, div.very-light-grey .content {padding:30px 10px;}

.sidebar {width:25%; padding:2%;}
.sidebar h3 {margin-top:0;}
.sidebar h3, .sidebar p {color:white; font-size:14px;}
.sidebar p:last-child {margin-bottom:0;}
.sidebar:hover {background-color:@main-colour;}
.page-wrap {width:65%;}

/* EU Cookie Law */
#eucookielaw {display:none; background-color:@light-grey;}
#eucookielaw .content {padding:10px;}
#eucookielaw p {color:@dark-grey; font-size:13px; margin:0;}
#eucookielaw a {cursor:pointer;}
#eucookielaw a:hover {text-decoration:none;}
#eucookielaw .btn {font-size:14px; padding:14px; margin-top:10px;}

/* Site Navigation */
nav.nav-collapse {width:auto; height:auto; margin:0 auto; padding:0; font-size:16px; text-transform:uppercase;}
nav.nav-collapse ul {width:auto; list-style:none; margin:0; padding:0; float:right; display:block;}
nav.nav-collapse li {float:left; padding:0; display:block;}
nav.nav-collapse li a {display:block; padding:40px 25px; font-weight:@bold; height:100%; margin:0; color:white; border-bottom:5px solid @main-colour;}
nav.nav-collapse li a span {font-weight:@light;}
nav.nav-collapse li a.no-border {border:none;}
nav.nav-collapse li a:link {text-decoration:none; color:white;}
nav.nav-collapse li a:hover {background-color:@main-colour-hover; border-bottom:5px solid white; .transition();}
nav.nav-collapse li.alignRight {position:relative;}
nav.nav-collapse li.alignRight ul {right:1px; text-align:right;}
nav.nav-collapse li ul {background:@main-colour; display:none; height:auto; margin:0; padding:0; border:none; position:absolute; width:200px; z-index:200; -webkit-box-shadow:0 0 3px 0 @grey; -moz-box-shadow:0 0 3px 0 @grey; box-shadow:0 0 3px 0 @grey;}
nav.nav-collapse li:hover ul {display:block;}
nav.nav-collapse li li {display:block; float:none; margin:0; padding:0;}
nav.nav-collapse li:hover li a {background:none; color:white;}
nav.nav-collapse li ul a {display:block; font-size:13px; text-transform:none; font-weight:normal; font-style:normal; border-right:0; margin:0; padding:16px 20px; border-bottom:1px solid @main-colour-hover;}
nav.nav-collapse li ul a.border-bottom {border-bottom:@dark-grey 1px solid;}
nav.nav-collapse li ul a:hover, nav.nav-collapse li ul li:hover a {background:@main-colour-hover; color:white; text-decoration:none; border-bottom:1px solid @main-colour-hover;}
nav.nav-collapse p {clear:left;}

.js .nav-collapse {clip:rect(0 0 0 0); max-height:0; position:absolute; display:block; zoom:1;}
.nav-collapse.opened {max-height:9999px;}
.disable-pointer-events {pointer-events:none !important;}
.nav-toggle {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
/* Site Navigation End */

/* Footer */
footer {background:@grey; padding-top:60px;}
footer li strong {text-transform:uppercase; margin-bottom:15px; display:block;}
footer span.phone:before, footer span.email:before {
    font-family:  FontAwesome;
    color:        white;
    margin-right: 4px;
}
footer span.phone:before {
    content: "\f095";
}
footer span.email:before {
    content: "\f0e0";
}
footer, footer a:link, footer a:visited, footer li a:link, footer li a:visited {color:white; font-weight:@light;}
footer li, footer span {font-size:15px; text-align:left; margin:0 0 12px 0;}
footer span {display:block;}
footer li:last-child {margin:0;}
footer li a:link, footer li a:visited {text-decoration:none;}
footer li a:hover {text-decoration:underline;}
footer li a.fb, footer li a.in {display:block; float:left; height:40px; width:40px; background-position:0 -40px; background-repeat:no-repeat;}
footer li a.fb {background-image:url(../img/content/fb.png); margin-right:12px;}
footer li a.in {background-image:url(../img/content/in.png);}
footer li a.fb:hover, footer li a.in:hover {background-position:0 0; text-decoration:none;}
footer #copyright {margin-top:60px;}
footer #copyright span {clear:both; font-size:13px; line-height:18px; display:block; text-align:center; margin:0; padding:8px 0;}
/* Footer End */

/* Contact Us Start */
#form {width:60%;}
#contact-info {width:26%; padding:30px; margin-left:40px;}
#contact-info h2 {margin:0 0 40px 0;}
#contact-info span {display:block; margin:0 0 20px 0; font-size:15px; line-height:22px;}
#contact-info span.phone:before, #contact-info span.email:before, #contact-info span.address:before {
    font-family:  FontAwesome;
    color:        @main-colour;
    margin-right: 8px;
}
#contact-info span.phone:before {
    content: "\f095";
}
#contact-info span.email:before {
    content: "\f0e0";
}
#contact-info span.address:before {
    content: "\f1ad";
}
#contact-info a:link, #contact-info a:visited {
    color: @very-dark-grey;
}
/* Contact Us End */

/* Help Start */
.help-item {margin-bottom:40px;}
.help-item .btn, .help-item-last .btn {width:130px;}
/* Help End */



/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{	
	/* Site Navigation */
	nav.nav-collapse li a {padding-left:15px; padding-right:15px;}
	/* Site Navigation End */

    /* Contact Us Start */
    #contact-info {padding:20px 2%;}
    /* Contact Us End */
}
@media (max-width: 900px)
{
    div.light-grey img.float-right, div.very-light-grey img.float-right, div.light-grey img.float-left, div.very-light-grey img.float-left {width:425px;}
}
@media (max-width: 800px)
{
	table {font-size:11px;}
    h1 {font-size:40px;}
    h2 {font-size:28px;}
    p, ul.list-none li, ul.list-points li {font-size:15px; line-height:1.4;}

    div.light-grey img.float-right, div.very-light-grey img.float-right, div.light-grey img.float-left, div.very-light-grey img.float-left {width:325px;}

	nav.nav-collapse {font-size:15px;}
	nav.nav-collapse li a {padding-left:12px; padding-right:12px;}
	
    /* Footer */
    footer {padding-top:40px;}
    footer li strong {margin-bottom:12px;}
    footer li, footer span {font-size:14px; margin:0 0 10px 0;}
    footer #copyright {margin-top:40px;}
    footer #copyright span {font-size:12px;}
    /* Footer End */

    /* Contact Us Start */
    #form {width:100%;}
    #contact-info {width:94%; padding:30px 3%; margin-left:0;}
    /* Contact Us End */
}
@media (max-width: 700px)
{
	.parallax-window {display:none;}
    #header-image {background-attachment:scroll;}
    
    div.light-grey img.float-right, div.very-light-grey img.float-right, div.light-grey img.float-left, div.very-light-grey img.float-left {width:100%; margin-bottom:20px;}
    
    /* Footer */
    footer ul {width:49%;}
    footer li strong {margin-top:18px;}
    /* Footer End */

    /* Site Navigation */
	.nav-toggle {background:url(../img/layout/menu.png) no-repeat; width:30px; height:25px; display:block; float:right; margin:40px 20px;}
	nav.nav-collapse ul {width:100%;}
	nav.nav-collapse li {width:100%; text-align:center;}
	nav.nav-collapse li br {display:none;}
	
	nav.nav-collapse {font-size:15px; text-transform:none; font-weight:normal;}
	nav.nav-collapse li a {padding:15px 0; border-right:none; border-bottom:1px solid @accent-colour1; margin:0;}
    nav.nav-collapse li a:hover {border-bottom:1px solid @accent-colour1;}
	nav.nav-collapse li span {font-size:inherit;}
	
	nav.nav-collapse li ul {background:@accent-colour1; display:block; position:relative; width:100%; border-top:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
	nav.nav-collapse li ul li a {border-bottom:none; background:@accent-colour1;}
	nav.nav-collapse li:hover ul, nav.nav-collapse li:hover ul.hidden {display:block;}
	nav.nav-collapse li:hover ul li a {color:#FFF;}
	nav.nav-collapse li:hover ul li a:hover {color:#FFF; border-bottom:0;}
	/* Site Navigation End */

    .sidebar {width:100%; padding:14px; margin-top: 30px; box-sizing:border-box;}
    .sidebar h3, .sidebar p {font-size:16px;}
    .page-wrap {width:auto;}
}
@media (min-width: 700px)
{
	/* Site Navigation */
	.js .nav-collapse {position:relative;}
	.js .nav-collapse.closed {max-height:none;}
	.nav-toggle {display:none;}
	/* Site Navigation End */
}
@media (max-width: 600px)
{
    p, ul.list-none li, ul.list-points li {font-size:15px;}
    #contact-bar {font-size:14px;}

	a.btn {width:100%; text-align:center; padding-left:0; padding-right:0;}
	
	#eucookielaw .btn {width:46%; box-sizing:border-box;}
	#eucookielaw .dark-grey {float:right;}
	
	#contact-bar .hidden {display:inline-block;}
}
@media (max-width: 500px)
{
	h1 {font-size:45px;}
	
	table td, thead th {font-size:13px;}
	thead th {font-weight:@bold;}
	
	/* Footer */
	footer {padding-top:20px;}
    footer ul {width:100%;}
    footer li strong {margin-top:24px;}
    footer li, footer span {font-size:16px;}
    footer #copyright {margin-top:20px;}
	footer #copyright span {font-size:11px; padding:8px 0;}
    footer .float-left, footer .float-right {float:none;}
    footer .float-left {margin-bottom:40px;}
	/* Footer End */
}
@media (max-width: 400px)
{
	th.hidden, td.hidden {display:none;}

    footer li, footer span {font-size:15px;}
}
