/* -------------------------
Luke Prendergast
Copyright 2016
www.seanmoloneyltd.co.uk
------------------------- */

/*
Colours
----------
*/

@main-colour:          #374578;
@accent-colour1:       #082854;
@main-colour-hover:    #1F2D5F;
@accent-colour1-hover: #00132D;

@very-dark-grey:       #333;
@dark-grey:            #4d4d4d;
@grey:                 #555;
@light-grey:           #e0e0e0;
@very-light-grey:      #ececec;

@red:                  #C52727;
@light-red:            #f3d4d4;
@green:                #218D44;
@light-green:          #c6d6cb;

/*
Font Weights
----------
*/

@bold:    800;
@regular: 400;
@light:   300;

.transition()
{
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}